
.content {
    @apply px-4 lg:px-24 xl:px-32 py-3    ;
}

.classDark {
    background-color: #000;
    color: #fff;
}

.noSelect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.card {
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 20px 35px -10px rgba(var(--ns-primary), 0.5);
    transform: translate(0, -3px);

    &:hover {
        box-shadow: none;
        transform: translate(0, 0);
    }
}

.button-default {
    background: rgb(var(--ns-primary));
    color: #fff;
    border: 0; /*px*/
    margin: 5px;
    border-radius: 12px;
    transition: all 0.25s ease; /*ease-in-out*/
    position: relative;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /*px*/
    outline: none;
    font-size: 0.8rem;
    box-sizing: border-box;

    &:active {
        animation: ripple-animation 0.3s ease-out;
    }

    &:hover {
        box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);
        transform: translate(0, -3px);
    }
}

/*active*/
.active {
    box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);
    transform: translate(0, -3px);
}

/*ns-button__content*/
.ns-button__content {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ripple-animation {
    to {
        transform: scale(1);
        color: rgb(255, 255, 255, 0.5);
        opacity: 85%;
    }
}