
.content {
    @apply px-4 lg:px-24 xl:px-32 2xl:px-64;
}

.classDark {
    @apply bg-Content text-white;
}

.card {
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 20px 35px -10px rgba(var(--ns-primary), 0.5);
    transform: translate(0, -3px);

    &:hover {
        box-shadow: none;
        transform: translate(0, 0);
    }
}

.skeleton-img {
    @apply flex items-center justify-center animate-pulse rounded-full w-[280px] h-[280px] bg-Content ;
}

.input-form {
    @apply w-full rounded-2xl p-4 bg-transparent text-white focus:outline-none transition duration-300 ease-in-out -translate-y-1 focus:translate-y-0 hover:translate-y-0;
    background: rgb(var(--ns-backgroundContent), 1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, var(--vs-shadow-opacity));

    &:focus {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, var(--vs-shadow-opacity-hover));
    }

    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, var(--vs-shadow-opacity-hover));
    }
}


.button-default {
    background: rgb(var(--ns-primary));
    color: #fff;
    border: 0; /*px*/
    margin: 5px;
    border-radius: 12px;
    transition: all 0.25s ease; /*ease-in-out*/
    position: relative;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /*px*/
    outline: none;
    font-size: 0.8rem;
    box-sizing: border-box;

    &:active {
        animation: ripple-animation 0.3s ease-out;
    }

    &:hover {
        box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);
        transform: translate(0, -3px);
    }
}

.button-default-transparent {
    background: transparent;
    color: rgb(var(--ns-primary));
    border: 0; /*px*/
    margin: 5px;
    border-radius: 12px;
    transition: all 0.25s ease; /*ease-in-out*/
    position: relative;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /*px*/
    outline: none;
    font-size: 0.8rem;
    box-sizing: border-box;
    box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);


    &:active {
        animation: ripple-animation 0.3s ease-out;

    }

    &:hover {
        box-shadow: 0 10px 15px -10px rgba(var(--ns-primary), 1);
        transform: translate(0, -3px);
    }
}

.button-default-border {
    background: transparent;
    color: rgb(var(--ns-primary));
    border: 1px solid rgb(var(--ns-primary));
    margin: 5px;
    border-radius: 12px;
    transition: all 0.25s ease; /*ease-in-out*/
    position: relative;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /*px*/
    outline: none;
    font-size: 0.8rem;
    box-sizing: border-box;

    &:active {
        animation: ripple-animation 0.3s ease-out;
    }

    &:hover {
        box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);
        transform: translate(0, -3px);
    }
}

.button-light-icon {
    background: rgb(var(--ns-light));
    color: rgb(var(--ns-whatsapp));
    margin: 5px;
    border-radius: 50%;
    transition: all 0.25s ease; /*ease-in-out*/
    position: relative;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ajustar el ancho */
    height: 40px; /* Ajustar la altura */
    outline: none;
    box-sizing: border-box;

    &:active {
        animation: ripple-animation 0.3s ease-out;
    }

    &:hover {
        box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);
        transform: translate(0, -3px);
    }
}

.custom-divider {
    border: none;
    border-top: 2px dotted #1a5cff;

}

/*active*/
.active {
    box-shadow: 0 10px 20px -10px rgba(var(--ns-primary), 1);
    transform: translate(0, -3px);
}

/*ns-button__content*/
.ns-button__content {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ripple-animation {
    to {
        transform: scale(1);
        color: rgb(255, 255, 255, 0.5);
        opacity: 85%;
    }
}

/*modificar el diseño del scrol*/
.scrollbarClass::-webkit-scrollbar {
    display: none;
    width: 3px; /* Ancho del scrollbar */
}

.scrollbarClass::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados del thumb */
}

.scrollbarClass::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb al pasar el mouse */
}

.scrollbarClass::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del track */
    border-radius: 10px; /* Bordes redondeados del track */
}

/* animacion text */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

/* animacion img */
@keyframes fadeIn-Img {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in-img {
    animation: fadeIn-Img 0.8s ease-in-out;
}

/* animación logoPersonal */
/* una animacion como si se mostrara de lo invisible a lo claro */
@keyframes logoPersonal {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-logoPersonal {
    animation: logoPersonal 0.8s ease-in-out;
}
